.btn{
    width: 150px;
    height: 50px;
    cursor : pointer;
    color: #8a2be2;
    border-radius: 10px;
    border: none;
    font-weight: lighter;
    font-weight: bolder;
    
}
.bg{
    /* background-color: blueviolet; */
    padding: 350px;
    text-align: center;
}